{
  "nyc": {
    "extends": "@istanbuljs/nyc-config-babel",
    "all": false,
    "include": [
      "./src/**/*.js"
    ],
    "check-coverage": false,
    "reporter": [
      "html",
      "text"
    ],
    "report-dir": "./tests/coverage",
    "sourceMap": true,
    "source-map-support": true
  }
}
